.ke-selected-box {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: table;
  padding-left: 8px;
  padding-right: 30px;
  font-size: 14px;
  position: relative; }
  .ke-selected-box .ke-selected-text {
    display: table-cell;
    vertical-align: middle; }
  .ke-selected-box .down-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #aaa;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 10px;
    transition: all 0.3s ease; }
  .ke-selected-box .down-arrow-active {
    transform: rotate(180deg); }

.ke-item-wrapper {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  max-height: 300px;
  min-width: 100%;
  overflow: auto;
  font-size: 14px; }
  .ke-item-wrapper .ke-item {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding: 0 8px; }
    .ke-item-wrapper .ke-item:hover {
      background: #f1f1f1; }
  .ke-item-wrapper .ke-selected-item {
    background: #dedede;
    color: #333; }
